<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="modal-header">
    <h5 class="modal-title" id="{theme.extKey}-exampleModalLabel">{theme.title}
        <f:if condition="{theme.subtitle}"> - {theme.subtitle}</f:if>
    </h5>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
    <div class="theme-about">
        <div class="theme-screenshots">

            <div class="screenshot">
                <f:if condition="{theme.screenshots}">
                    <f:then>

                        <f:if condition="{theme.screenshots -> f:count()} > 1">
                            <f:then>
                                <div id="carouselExampleControls" class="carousel"
                                     data-bs-ride="carousel">
                                    <f:for each="{theme.screenshots}" as="image" iteration="imageIterator">
                                        <div class="carousel-inner">
                                            <div class="carousel-item {f:if(condition:imageIterator.isFirst, then: ' active')}">
                                                <f:image class="d-block w-100" src="{image.file}"
                                                         alt="Screenshot"/>
                                                <f:if condition="{image.caption}">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>{image.caption}</h5>
                                                    </div>
                                                </f:if>
                                            </div>
                                        </div>
                                    </f:for>

                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="prev">
                                       <span class="carousel-control-prev-icon"
                                             aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="next">
                                       <span class="carousel-control-next-icon"
                                             aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </f:then>
                            <f:else>
                                <f:for each="{theme.screenshots}" as="image">
                                    <div class="bg-image" style="max-width: 100%;">
                                        <f:image src="{image.file}"
                                                 alt="Screenshot"/>
                                        <f:if condition="{image.caption}">
                                            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                                                <h5>{image.caption}</h5>
                                            </div>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:else>
                        </f:if>

                    </f:then>
                    <f:else>
                        <f:image src="EXT:website_toolbox/Resources/Public/Images/no-screenshot.png"
                                 alt="No screenshot"/>
                    </f:else>
                </f:if>
            </div>
        </div>
        <div class="theme-info">
            <f:if condition="{theme.isActive} === true">
                <span class="badge-active bg-success">{f:translate(key: 'theme.isActive')}</span>
            </f:if>
            <h2 class="theme-name">{theme.title}
                <f:if condition="{theme.subtitle}"> - {theme.subtitle}</f:if>
            </h2>
            <span class="theme-version">{f:translate(key: 'theme.version')}: {theme.version}</span>
            <div role="tabpanel">
                <ul class="nav nav-tabs t3js-tabs" role="tablist"
                    id="{theme.extKey}-tab-menu-modal" data-store-last-tab="1">
                    <li role="presentation" class="t3js-tabmenu-item nav-item">
                        <a href="#{theme.extKey}-overview" class="nav-link active" title=""
                           aria-controls="overview" role="tab" data-bs-toggle="tab">
                            {f:translate(key: 'theme.modal.tab.overview')}
                        </a>
                    </li>
                    <f:if condition="{theme.frontendTechnologies} || {theme.backendTechnologies}">
                        <li role="presentation" class="t3js-tabmenu-item nav-item">
                            <a href="#{theme.extKey}-technologies" class="nav-link " title=""
                               aria-controls="technologies" role="tab" data-bs-toggle="tab">
                                {f:translate(key: 'theme.modal.tab.technologies')}
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{theme.features}">
                        <li role="presentation" class="t3js-tabmenu-item nav-item">
                            <a href="#{theme.extKey}-features" class="nav-link " title=""
                               aria-controls="features" role="tab" data-bs-toggle="tab">
                                {f:translate(key: 'theme.modal.tab.features')}
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{theme.supportedExtensions}">
                        <li role="presentation" class="t3js-tabmenu-item nav-item">
                            <a href="#{theme.extKey}-extensions" class="nav-link " title=""
                               aria-controls="extensions" role="tab" data-bs-toggle="tab">
                                {f:translate(key: 'theme.modal.tab.extensions')}
                            </a>
                        </li>
                    </f:if>
                    <f:if condition="{theme.authors}">
                        <li role="presentation" class="t3js-tabmenu-item nav-item">
                            <a href="#{theme.extKey}-authors" class="nav-link " title=""
                               aria-controls="authors" role="tab" data-bs-toggle="tab">
                                {f:translate(key: 'theme.modal.tab.authors')}
                            </a>
                        </li>
                    </f:if>
                </ul>
                <div class="tab-content equal-height">
                    <div role="tabpanel" class="tab-pane active" id="{theme.extKey}-overview">
                        <p class="theme-description">
                            {theme.description}
                        </p>

                        <f:if condition="{theme.parentTheme}">
                            <p class="theme-tags"><span>{f:translate(key: 'theme.parent')}:</span>
                                {theme.parentTheme.name}
                                {theme.parentTheme.version}
                        </f:if>



                        <p class="theme-tags"><span>{f:translate(key: 'theme.keywords')}:</span>
                            <f:for each="{theme.keywords}" as="keyword">
                                <span class="keyword-tag">{keyword}</span>
                            </f:for>
                        </p>
                        <p> </p>
                        <p><span>{f:translate(key: 'theme.licenses')}:</span>
                            <f:for each="{theme.licenses}" as="license">
                                <span class="badge badge-license">{license.title}</span>
                            </f:for>
                        </p>
                    </div>
                    <f:if condition="{theme.frontendTechnologies} || {theme.backendTechnologies}">
                        <div role="tabpanel" class="tab-pane" id="{theme.extKey}-technologies">
                            <div class="row">
                                <div class="col-md-6 my-3 pe-lg-5">
                                    <div class="headline-block text-center">
                                        <b>LL:Frontend Technologies</b>
                                    </div>
                                    <div class="row">
                                        <f:for each="{theme.frontendTechnologies}" as="technology">
                                            <div class="col-6 col-sm-4">
                                                <div class="product-detail-icon-teaser">
                                                    <f:image src="{technology.icon}" width="32" height="32" title="{technology.name}"/>
                                                </div>
                                            </div>
                                        </f:for>

                                    </div>
                                </div>
                                <div class="col-md-6 my-3 ps-lg-5">
                                    <div class="headline-block text-center">
                                        <b>LL:Backend Technologies</b>
                                    </div>
                                    <div class="row">
                                        <f:for each="{theme.backendTechnologies}" as="technology">
                                            <div class="col-6 col-sm-4">
                                                <div class="product-detail-icon-teaser">
                                                    <f:image src="{technology.icon}" width="32" height="32" title="{technology.name}"/>
                                                </div>
                                            </div>
                                        </f:for>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:if>
                    <f:if condition="{theme.features}">
                        <div role="tabpanel" class="tab-pane" id="{theme.extKey}-features">
                            <p class="theme-description">
                            <div class="card-container">
                                <f:for each="{theme.features}" as="feature">
                                    <div class="card card-size-fixed-small">
                                        <div class="card-header">
                                            <div class="card-icon">
                                                <f:if condition="{feature.iconUri}">
                                                    <f:image src="{feature.iconUri}"
                                                             alt="{feature.title}"
                                                             width="32" height="32"/>
                                                </f:if>
                                            </div>
                                            <div class="card-header-body">
                                                <h1 class="card-title">{feature.title}</h1>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {feature.description}
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                            </p>
                        </div>
                    </f:if>
                    <f:if condition="{theme.supportedExtensions}">
                        <div role="tabpanel" class="tab-pane" id="{theme.extKey}-extensions">
                            <p class="theme-description">
                            <div class="card-container">
                                <f:for each="{theme.supportedExtensions}" as="extension">
                                    <div class="card card-size-fixed-small">
                                        <div class="card-header">
                                            <div class="card-icon">
                                                <f:if condition="{extension.iconUri}">
                                                    <f:image src="{extension.iconUri}"
                                                             alt="{extension.title}"
                                                             width="32" height="32"/>
                                                </f:if>
                                            </div>
                                            <div class="card-header-body">
                                                <h1 class="card-title">{extension.title}</h1>
                                                <span class="card-subtitle">Version: {extension.version}</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {extension.description}
                                            </p>
                                        </div>
                                        <div class="card-footer">

                                            <f:if condition="{extension.docUri}">
                                                <f:link.external class="btn btn-light"
                                                                 uri="{extension.docUri}"
                                                                 target="_blank">LL:Documentation
                                                </f:link.external>
                                            </f:if>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                            </p>

                        </div>
                    </f:if>
                    <f:if condition="{theme.authors}">
                        <div role="tabpanel" class="tab-pane" id="{theme.extKey}-authors">
                            <p class="theme-description">
                            <div class="card-container">
                                <f:for each="{theme.authors}" as="author">
                                    <div class="card card-size-fixed-small">
                                        <div class="card-header">
                                            <div class="card-icon">
                                                <f:if condition="{author.companyLogo}">
                                                    <f:image src="{author.companyLogo}"
                                                             alt="{author.company}"
                                                             width="32" height="32"/>
                                                </f:if>
                                            </div>
                                            <div class="card-header-body">
                                                <h1 class="card-title">{author.company}</h1>
                                                <span class="card-subtitle"></span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {author.name}<br/>
                                                <f:link.email email="{author.email}"
                                                              target="_blank"/>
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <f:if condition="{author.companyWebsite}">
                                                <f:link.external class="btn btn-light"
                                                                 uri="{author.companyWebsite}"
                                                                 target="_blank">{f:translate(key: 'theme.button.website.title')}
                                                </f:link.external>
                                            </f:if>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                            </p>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default align-left" data-bs-dismiss="modal">Close</button>
    <f:if condition="{theme.isActive}">
        <f:comment>
            <f:be.link
                class="btn btn-danger hide-if-no-customize"
                route="WebsiteToolboxWebsitetools_WebsiteToolboxConfiguration"
                parameters="{id:rootPage}"
            >
                {f:translate(key: 'theme.button.configurator.title')}
            </f:be.link>
        </f:comment>

    </f:if>
    <f:if condition="!{theme.isActive}">
        <f:link.action action="activateTheme" additionalParams="{themeKey: theme.extKey}" class="btn btn-success activate">{f:translate(key:
            'theme.button.activate.title')}
        </f:link.action>
        <f:link.external uri="{theme.demoLocation.uri}" target="_blank"
                         class="btn btn-info hide-if-no-customize">{f:translate(key: 'theme.button.liveDemo.title')}
        </f:link.external>
    </f:if>
    <f:link.external uri="{theme.documentation.uri}" target="_blank"
                     class="btn btn-warning hide-if-no-customize">{f:translate(key: 'theme.button.documentation.title')}
    </f:link.external>
</div>
</html>
