<html
    data-namespace-typo3-fluid="true"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="ThemeDefault"/>

<f:section name="Buttons">
    <!--TODO integrated easyconf link-->
<f:comment>
    TODO integrated easyconf link
    <be:moduleLayout.button.linkButton
        icon="actions-view"
        showLabel="true"
        link="{previewUrl}"
        title="{f:translate(id: 'LLL:EXT:website_toolbox/Resources/Private/Language/locallang.xlf:labels.viewTheme')}"
    />
</f:comment>


    </f:section>


<f:section name="Content">
    <f:flashMessages />
    <f:if condition="{rootPage} > 0 && {currentPage} !== 'null'">
        <f:then>
            <f:if condition="{availableThemes}">
            <h1>{f:translate(key: 'choose.theme.rootpage')} {currentPage.title}</h1>
            <f:render arguments="{_all}" section="ThemesList"/>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{availableThemes}">
            <h1>{f:translate(key: 'choose.theme.website')}</h1>
            <f:render arguments="{_all}" section="InfoBox"/>
            </f:if>
        </f:else>
    </f:if>

    <f:section name="ThemesList">
        <div class="theme-browser">

            <h2>{f:translate(key: 'theme.templates')} <span class="badge bg-success"><f:count
                subject="{availableThemes}"/></span></h2>
            <f:if condition="{availableThemes}">
                <f:then>
                    <div class="themes">
                        <f:for each="{availableThemes}" as="theme">

                            <f:if condition="{theme.isActive}">
                                <f:then>
                                    <f:render section="activeTheme" arguments="{_all}"/>
                                </f:then>
                                <f:else>
                                    <f:render section="Theme" arguments="{_all}"/>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    {f:translate(key: 'theme.noTheme.title')}
                    <br/>
                    {f:translate(key: 'theme.noTheme.description')}
                </f:else>
            </f:if>
        </div>
    </f:section>
    <!-- Modal -->
    <f:render partial="ModalAjax" />
</f:section>
<f:section name="activeTheme">

    <div class="theme active">
        <div class="theme-screenshot">
            <f:if condition="{theme.screenshots}">
                <f:then>
                    <f:image src="{theme.screenshots.0.file}" alt="{screenshot.caption}"/>
                </f:then>
                <f:else>
                        <f:image src="EXT:website_toolbox/Resources/Public/Images/no-screenshot.png" alt="No screenshot"/>
                </f:else>
            </f:if>
        </div>
            <button aria-label="Theme-Details für {theme.title} anzeigen" class="more-details"
                    data-toggle="modal" data-target="#modal-ajax" title="{f:translate(key: 'viewDetailTooltip',arguments: {theme: theme})}" data-uri="{f:uri.action(action: 'detail', arguments: {themeKey: theme.key}, controller: 'Theme')}" data-extensionKey="{theme.extKey}" data-root-page="{rootPage}" type="button">{f:translate(key:
                'theme.button.details.title')}
            </button>
            <div class="theme-author">
                <f:for as="author" each="{theme.authors}">
                    {author.company}
                </f:for>
            </div>
            <div class="theme-id-container">
                <h2 class="theme-name" id="rookie-name">
                    <span class="badge-active bg-success">{f:translate(key: 'theme.isActive')}</span>
                    <span class="theme-name">{theme.shortTitle}</span>
                </h2>
                <div class="theme-actions">
                    <!--TODO integrated easyconf link-->
                    <f:comment>
                        <f:be.link
                            class="btn btn-danger hide-if-no-customize"
                            route="WebsiteToolboxWebsitetools_WebsiteToolboxConfiguration"
                            parameters="{id:rootPage}"
                        >
                            {f:translate(key: 'theme.button.configurator.title')}
                        </f:be.link>
                    </f:comment>
                </div>
            </div>
        </div>
</f:section>
<f:section name="Theme">

    <div class="theme">

        <div class="theme-screenshot">
            <f:if condition="{theme.screenshots}">
                <f:then>
                    <f:image src="{theme.screenshots.0.file}" alt="{screenshot.caption}"/>
                </f:then>
                <f:else>

                        <f:image src="EXT:website_toolbox/Resources/Public/Images/no-screenshot.png" alt="No screenshot"/>
                </f:else>
            </f:if>
        </div>
        <button aria-label="Theme-Details für {theme.title} anzeigen"
                class="more-details"
                data-toggle="modal"
                data-target="#modal-ajax"
                title="{f:translate(key: 'viewDetailTooltip',arguments: {theme: theme})}"
                data-uri="{f:uri.action(action: 'detail', arguments: {themeKey: theme.key}, controller: 'Theme')}"
                data-extensionKey="{theme.extKey}" data-root-page="{rootPage}" type="button">{f:translate(key:
            'theme.button.details.title')}
        </button>
        <div class="theme-author">
            <f:for as="author" each="{theme.authors}">
                {author.company}
            </f:for>
        </div>
        <div class="theme-id-container">
            <h2 class="theme-name">{theme.shortTitle}</h2>
            <div class="theme-actions">
                <f:link.action action="activateTheme" additionalParams="{themeKey: theme.extKey}" class="btn btn-success activate">{f:translate(key:
                    'theme.button.activate.title')}
                </f:link.action>
                <f:link.external uri="{theme.demoLocation.uri}" target="_blank"
                                 class="btn btn-info hide-if-no-customize">{f:translate(key:
                    'theme.button.liveDemo.title')}
                </f:link.external>

            </div>
        </div>
    </div>
</f:section>
<f:section name="InfoBox">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <f:be.infobox state="1" title="{f:translate(key: 'noTemplate')}">
            <p>{f:translate(key: 'noRootTemplate.description')}</p>

            <f:for each="{rootPages}" as="site">

            </f:for>
        </f:be.infobox>

    </div>
</f:section>
</html>
