<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="FormField" />

    <f:section name="Main">

        <f:if condition="{previewImage}">
            <f:then>
                <span class="wstb-image-description text-muted"><f:translate key="betterViewDescription" extensionName="website_toolbox" /><br/></span>
                <f:image class="wstb-image img-thumbnail" src="{previewImage}"/>
            </f:then>
            <f:else>
               <f:translate key="noImage" extensionName="website_toolbox" />
            </f:else>
        </f:if>
    </f:section>
</div>
