#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

tr.head:hover,.ext-overview:hover{
    cursor: pointer;
}
/*
.modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
*/

.modal-dialog {
    position: relative !important;
    width: 100% !important;
    max-width: 900px !important;
    margin: 60px auto !important;
}
.modal-content {
    width: 100%;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.modal-body {
    padding: 2px 16px;
    max-height: 65vh;
    overflow: auto;
    position: relative;
}
.modal-body table{
    width: 100%
}

th {
    font-weight: 500 !important;
}
.ext-report-wrapper {
    margin: 0 0 30px;
    position: relative;
}
.ext-report-wrapper h2 {
    margin: 0 0 15px;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
.modal-title {
    line-height: 1.42857;
    margin: 0;
    font-size: 19px;
}
strong,b{
    font-weight: 500;
}
.table h2 {
    color: inherit;
    margin: 5px 0;
}

.ext-title{
    display: inline-block;
    width: 100%;
}
.ext-title h1{
    float: left;
}

.ter-ext-state.ter-ext-state-stable, .ext-status-stable{
    color:#3db900!important;
}
.ter-ext-state.ter-ext-state-beta, .ext-status-beta{
    color:#f4bd00!important;
}
.ter-ext-state.ter-ext-state-alpha, .ext-status-alpha{
    color:#f14400!important;
}

.ter-ext-state{
    text-transform:capitalize!important;
}

table.t3-table tbody td a {
    text-decoration: none;
}

.ext-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.iteration {
    width: 2%;
}

.table-ext-title, .table-ext-key  {
    width:20%;
}

.table-ext-version, .table-ext-state, .table-ext-actions {
    width:10%;
}
