.theme-browser .themes {
    clear: both
}

.theme-browser .theme {
    cursor: pointer;
    float: left;
    margin: 0 4% 4% 0;
    position: relative;
    width: 30.6%;
    border: 1px solid #dcdcde;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    box-sizing: border-box
}

.theme-browser .theme:nth-child(3n) {
    margin-right: 0
}

.theme-browser .theme.focus,
.theme-browser .theme:hover {
    cursor: pointer
}

.theme-browser .theme .theme-name {
    font-size: 15px;
    font-weight: 600;
    /*height: 18px;*/
    margin: 0;
    padding: 15px;
    /*box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    background: rgba(255, 255, 255, .65)
}


.modal-content .modal-body .badge-active,
.theme-browser .theme .badge-active {
    font-size: 12px;
    font-weight: inherit; !important;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
.modal-body .carousel-item {
    height: 230px;
}

.modal-body .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 230px;
}
.modal-body .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.product-detail-icon-teaser {
    align-items: center;
    background-color: #f5f8fb;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    /*min-height: 124px;*/
    padding: 18px;
}
.theme-browser .theme .theme-actions {
    opacity: 0;
    /*transition: opacity .1s ease-in-out;*/
    height: auto;
    /*background: rgba(246, 247, 247, .7);
    border-left: 1px solid rgba(0, 0, 0, .05)*/
}

.theme-browser .theme:focus .theme-actions,
.theme-browser .theme:hover .theme-actions {
    opacity: 1
}

.theme-browser .theme .theme-actions .button-primary {
    margin-right: 3px
}

.theme-browser .theme .theme-actions .button {
    float: none;
    margin-left: 3px
}

.theme-browser .theme .theme-screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    transition: opacity .2s ease-in-out
}

.theme-browser .theme .theme-screenshot:after {
    content: "";
    display: block;
    padding-top: 66.66666%
}

.theme-browser .theme .theme-screenshot img {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    transition: opacity .2s ease-in-out
}

.theme-browser .theme:focus .theme-screenshot,
.theme-browser .theme:hover .theme-screenshot {
    background: #fff
}

.theme-browser.rendered .theme.focus .theme-screenshot img,
.theme-browser.rendered .theme:hover .theme-screenshot img {
    opacity: .4
}

.theme-browser .theme .more-details {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 20%;
    left: 20%;
    width: 60%;
    background: #1d2327;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 15px 12px;
    text-align: center;
    border-radius: 3px;
    border: none;
    transition: opacity .1s ease-in-out;
    height: auto;
}
.theme-browser .theme:hover .more-details {
    opacity: 1;
}

.theme-browser .theme.active .theme-name {
    /*background-color: #ee8433;*/
    background-color: #eeeeee;
    color: #333;
    /*padding-right: 110px;*/
    font-weight: 300;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5)*/
}

.theme-browser .customize-control .theme.active .theme-name {
    padding-right: 15px
}

.theme-browser .theme.active .theme-name span {
    font-weight: 600
}

.theme-browser .theme.active .theme-actions {
    /* background: rgba(44, 51, 56, .7);*/
    border-left: none;
    opacity: 1
}

.theme-id-container {
    position: relative
}

.theme-browser .theme .theme-actions,
.theme-browser .theme.active .theme-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    /* padding: 9px 15px;*/
    padding-right: 15px;
    /*box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)*/
}

.theme-browser .theme.active .theme-actions .button-primary {
    margin-right: 0
}

.theme-browser .theme .theme-author {
    background: #1d2327;
    color: #f0f0f1;
    /*display: none;*/
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 10px;
    position: absolute;
    bottom: 56px;
    opacity: 0;
}
.theme-browser .theme:hover .theme-author {
    opacity:1;
}
.theme-browser .theme.display-author .theme-author {
    display: block
}

.theme-browser .theme.display-author .theme-author a {
    color: inherit
}

.badge-license {
    background-color: dimgrey;
    font-size: 12px !important;
}
.modal-content .modal-body .theme-backdrop {
    position: absolute;
    left: -20px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f0f0f1;
    background: rgba(240, 240, 241, .9);
    z-index: 10000
}

.modal-content .modal-body .theme-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-bottom: 1px solid #dcdcde
}

.modal-content .modal-body .theme-header button {
    padding: 0
}
.keyword-tag {
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
}
.modal-content .modal-body .theme-header .close {
    cursor: pointer;
    height: 48px;
    width: 50px;
    text-align: center;
    float: right;
    border: 0;
    border-left: 1px solid #dcdcde;
    background-color: transparent;
    transition: color .1s ease-in-out, background .1s ease-in-out
}

.modal-content .modal-body .theme-header .close:before {
    font: normal 22px/50px dashicons !important;
    color: #787c82;
    display: inline-block;
    content: "\f335";
    font-weight: 300
}

.modal-content .modal-body .theme-header .left,
.modal-content .modal-body .theme-header .right {
    cursor: pointer;
    color: #787c82;
    background-color: transparent;
    height: 48px;
    width: 54px;
    float: left;
    text-align: center;
    border: 0;
    border-right: 1px solid #dcdcde;
    transition: color .1s ease-in-out, background .1s ease-in-out
}

.modal-content .modal-body .theme-header .close:focus,
.modal-content .modal-body .theme-header .close:hover,
.modal-content .modal-body .theme-header .left:focus,
.modal-content .modal-body .theme-header .left:hover,
.modal-content .modal-body .theme-header .right:focus,
.modal-content .modal-body .theme-header .right:hover {
    background: #dcdcde;
    border-color: #c3c4c7;
    color: #000
}

.modal-content .modal-body .theme-header .close:focus:before,
.modal-content .modal-body .theme-header .close:hover:before {
    color: #000
}

.modal-content .modal-body .theme-header .close:focus,
.modal-content .modal-body .theme-header .left:focus,
.modal-content .modal-body .theme-header .right:focus {
    box-shadow: none;
    outline: 0
}

.modal-content .modal-body .theme-header .left.disabled,
.modal-content .modal-body .theme-header .left.disabled:hover,
.modal-content .modal-body .theme-header .right.disabled,
.modal-content .modal-body .theme-header .right.disabled:hover {
    color: #c3c4c7;
    background: inherit;
    cursor: inherit
}

.modal-content .modal-body .theme-header .left:before,
.modal-content .modal-body .theme-header .right:before {
    font: normal 20px/50px dashicons !important;
    display: inline;
    font-weight: 300
}

.modal-content .modal-body .theme-header .left:before {
    content: "\f341"
}

.modal-content .modal-body .theme-header .right:before {
    content: "\f345"
}

.modal-content .modal-body .theme-wrap {
    clear: both;
    position: fixed;
    top: 9%;
    left: 190px;
    right: 30px;
    bottom: 3%;
    background: #fff;
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, .1);
    z-index: 10000;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch
}

body.folded .theme-browser~.modal-content .modal-body .theme-wrap {
    left: 70px
}

.modal-content .modal-body .theme-about {
    /*position: absolute;
    top: 49px;
    bottom: 57px;
    left: 0;
    right: 0;*/
    overflow: auto;
    padding: 2% 4%
}

.modal-content .modal-body .theme-actions {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 25px 5px;
    background: #f6f7f7;
    z-index: 30;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f1
}

.modal-content .modal-body .theme-actions a {
    margin-right: 5px;
    margin-bottom: 5px
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.modal-content .modal-body .theme-actions .active-theme,
.modal-content .modal-body.active .theme-actions .inactive-theme {
    display: none
}

.modal-content .modal-body .theme-actions .inactive-theme,
.modal-content .modal-body.active .theme-actions .active-theme {
    display: block
}

.modal-content .modal-body .theme-screenshots {
    float: left;
    margin: 0 30px 0 0;
    width: 37%;
    max-width: 1200px;
    text-align: center
}

.modal-content .modal-body .screenshot {
    border: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2)
}

.modal-content .modal-body .screenshot:after {
    content: "";
    display: block;
    /*padding-top: 75%*/
}

.modal-content .modal-body .screenshot img {
    height: auto;
    /*position: absolute;
    left: 0;
    top: 0;*/
    width: 100%
}

.modal-content .modal-body.small-screenshot .theme-screenshots {
    position: absolute;
    width: 302px
}

.modal-content .modal-body.small-screenshot .theme-info {
    margin-left: 350px;
    width: auto
}

.modal-content .modal-body .screenshot.thumb {
    background: #c3c4c7;
    border: 1px solid #f0f0f1;
    float: none;
    display: inline-block;
    margin: 10px 5px 0;
    width: 140px;
    height: 80px;
    cursor: pointer
}

.modal-content .modal-body .screenshot.thumb:after {
    content: "";
    display: block;
    padding-top: 100%
}

.modal-content .modal-body .screenshot.thumb img {
    cursor: pointer;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto
}

.modal-content .modal-body .screenshot.selected {
    background: 0 0;
    border: 2px solid #72aee6
}

.modal-content .modal-body .screenshot.selected img {
    opacity: .8
}

.theme-browser .theme .theme-screenshot.blank,
.modal-content .modal-body .screenshot.blank {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYGWO8d+/efwYkoKioiMRjYGBC4WHhUK6A8T8QIJt8//59ZC493AAAQssKpBK4F5AAAAAASUVORK5CYII=)
}

.modal-content .modal-body .theme-info {
    width: 60%;
    float: left
}

.modal-content .modal-body .current-label {
    background: #2c3338;
    color: #fff;
    font-size: 11px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 2px;
    margin: 0 0 -10px;
    -webkit-user-select: none;
    user-select: none
}

.modal-content .modal-body .theme-name {
    color: #1d2327;
    font-size: 32px;
    font-weight: 100;
    margin: 10px 0 0;
    line-height: 1.3;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.modal-content .modal-body .theme-version {
    color: #646970;
    font-size: 13px;
    font-weight: 400;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
}

.modal-content .modal-body .theme-author {
    margin: 15px 0 25px;
    color: #646970;
    font-size: 16px;
    font-weight: 400;
    line-height: inherit
}

.equal-height {
    height:500px;
}
.modal-content .modal-body .theme-description {
    color: #50575e;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 30px 0 0
}

.modal-content .modal-body .theme-tags {
    border-top: 3px solid #f0f0f1;
    color: #646970;
    font-size: 13px;
    font-weight: 400;
    /*margin: 30px 0 0;*/
    padding-top: 10px;
}

.modal-content .modal-body .theme-tags span {
    color: #3c434a;
    font-weight: 600;
    margin-right: 5px
}

.modal-content .modal-body .parent-theme {
    background: #fff;
    border: 1px solid #f0f0f1;
    border-left: 4px solid #72aee6;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    padding: 10px 10px 10px 20px
}

.modal-content .modal-body .parent-theme strong {
    font-weight: 600
}

.single-theme .theme,
.single-theme .modal-content .modal-body .theme-backdrop,
.single-theme .modal-content .modal-body .theme-header {
    display: none
}

.single-theme .modal-content .modal-body .theme-wrap {
    clear: both;
    min-height: 330px;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    z-index: 10
}

.single-theme .modal-content .modal-body .theme-about {
    padding: 30px 30px 70px;
    position: static
}

.single-theme .modal-content .modal-body .theme-actions {
    position: absolute
}

@media only screen and (min-width:1680px) {
    .modal-content .modal-body .theme-wrap {
        width: 1450px;
        margin: 0 auto
    }
}

@media only screen and (min-width:1640px) {
    .theme-browser .theme {
        width: 22.7%;
        margin: 0 3% 3% 0
    }

    .theme-browser .theme .theme-screenshot:after {
        padding-top: 75%
    }

    .theme-browser .theme:nth-child(3n) {
        margin-right: 3%
    }

    .theme-browser .theme:nth-child(4n) {
        margin-right: 0
    }
}

@media only screen and (max-width:1120px) {
    .theme-browser .theme {
        width: 47.5%;
        margin-right: 0
    }

    .theme-browser .theme:nth-child(even) {
        margin-right: 0
    }

    .theme-browser .theme:nth-child(odd) {
        margin-right: 5%
    }
}

@media only screen and (max-width:960px) {
    .modal-content .modal-body .theme-wrap {
        left: 65px
    }
}

@media only screen and (max-width:780px) {

    .modal-content .modal-body .theme-wrap,
    body.folded .modal-content .modal-body .theme-wrap {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 70px 20px 20px;
        border: none;
        z-index: 100000;
        position: fixed
    }

    .theme-browser .theme.active .theme-name span {
        display: none
    }

    .modal-content .modal-body .theme-screenshots {
        width: 40%
    }

    .modal-content .modal-body .theme-info {
        width: 50%
    }

    .single-theme .theme-wrap {
        padding: 10px
    }

    .theme-browser .theme .theme-actions {
        padding: 5px 10px 4px
    }

    .modal-content .modal-body.small-screenshot .theme-screenshots {
        position: static;
        float: none;
        max-width: 302px
    }

    .modal-content .modal-body.small-screenshot .theme-info {
        margin-left: 0;
        width: auto
    }

    .theme.focus .more-details,
    .theme:hover .more-details,
    .theme:not(.active):focus .theme-actions,
    .theme:not(.active):hover .theme-actions {
        display: none
    }

    .theme-browser.rendered .theme.focus .theme-screenshot img,
    .theme-browser.rendered .theme:hover .theme-screenshot img {
        opacity: 1
    }
}

@media only screen and (max-width:480px) {
    .theme-browser .theme {
        width: 100%;
        margin-right: 0
    }

    .theme-browser .theme:nth-child(2n),
    .theme-browser .theme:nth-child(3n) {
        margin-right: 0
    }

    .modal-content .modal-body .theme-about {
        bottom: 105px
    }

    .modal-content .modal-body .theme-actions {
        padding-left: 4%;
        padding-right: 4%
    }
}

@media only screen and (max-width:650px) {
    .modal-content .modal-body .theme-description {
        margin-left: 0
    }

    .modal-content .modal-body .theme-actions .delete-theme {
        position: relative;
        right: auto;
        bottom: auto
    }

    .modal-content .modal-body .theme-actions .inactive-theme {
        display: inline
    }

    .modal-content .modal-body .theme-screenshots {
        width: 100%;
        float: none
    }

    .modal-content .modal-body .theme-info {
        width: 100%
    }

    .modal-content .modal-body .theme-author {
        margin: 5px 0 15px
    }

    .modal-content .modal-body .current-label {
        margin-top: 10px;
        font-size: 13px
    }

    .themes-php .wp-filter-search {
        float: none;
        clear: both;
        left: 0;
        right: 0;
        margin: -5px 0 20px;
        width: 100%;
        max-width: 280px
    }

    .theme-browser .theme.add-new-theme span:after {
        font: normal 60px/90px dashicons;
        width: 80px;
        height: 80px;
        top: 30%;
        left: 50%;
        text-indent: 0;
        margin-left: -40px
    }

    .single-theme .theme-wrap {
        margin: 0 -12px 0 -10px;
        padding: 10px
    }

    .single-theme .modal-content .modal-body .theme-about {
        padding: 10px;
        overflow: visible
    }

    .single-theme .current-label {
        display: none
    }

    .single-theme .modal-content .modal-body .theme-actions {
        position: static
    }
}
