<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:comment>
    <be:moduleLayout>
        <f:render section="Buttons" />
        <f:render section="Content" />
    </be:moduleLayout>
</f:comment>

<f:be.container includeJsFiles="{0:'{f:uri.resource(path:\'JavaScript/Theme.js\')}'}">
    <div class="module" data-module-id="" data-module-name="WebsiteToolboxWebsitetools_WebsiteToolboxThemes">


        <div class="module-loading-indicator"></div>
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row">


                <div class="module-docheader-bar-column-left col-12 text-end">

                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <f:if condition="{rootPage} > 0">

                        <a target="_blank" href="{previewUrl}" class="btn btn-default btn-sm " title="{f:translate(key: 'labels.viewTheme')}"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-view" data-identifier="actions-view-page">
<span class="icon-markup">
    <core:icon identifier="actions-file-view" size="small" />
</span>

</span></a>
                        </f:if>

                    </div>

                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <f:comment>
                        <a target="_blank" href="{previewUrl}" class="btn btn-default btn-sm " title="view active theme"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-view" data-identifier="actions-view">
<span class="icon-markup">
<svg class="icon-color"><use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/actions.svg#actions-eye"></use></svg>
</span>

</span> view theme</a>
                        </f:comment>
                    </div>

                </div>
            </div>
        </div>


        <div class="module-body t3js-module-body">


            <f:render section="Content" />



        </div>

    </div>


</f:be.container>
</html>
