<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="modal-header">

<h4 class="modal-title">{extension.title}</h4>
    <button id="modalclose" type="button" class="btn-close"></button>
</div>
<div class="modal-body">

        <table class="typo3-extension-list t3-table table table-striped table-hover">
            <tbody>
            <tr>
                <td width="30%"><strong><f:translate key="sitePackage.extensionKey"/></strong></td>
                <td>{extension.key}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="sitepackage.modal.description"/></strong></td>
                <td>{extension.description}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="sitepackage.modal.category"/></strong></td>
                <td>{extension.category}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="sitePackage.extensionState"/></strong></td>
                <td><span class="ter-ext-state ext-status-{extension.state}">{extension.state}</span></td>
            </tr>
            <f:if condition="{extension.author}">
                <tr>
                    <td width="30%"><strong><f:translate key="sitepackage.modal.author"/></strong></td>
                    <td>
                        {extension.author}
                        <f:if condition="{extension.author_email}"> [{extension.author_email}]</f:if>
                    </td>
                </tr>
            </f:if>
            <f:if condition="{extension.author_company}">
                <tr>
                    <td width="30%"><strong><f:translate key="sitepackage.modal.company"/></strong></td>
                    <td>{extension.author_company}</td>
                </tr>
            </f:if>
            <tr>
                <td width="30%"><strong><f:translate key="sitePackage.currentExtensionVersion"/></strong></td>
                <td>{extension.version}</td>
            </tr>
            <tr>
                <td width="30%"><strong><f:translate key="sitepackage.modal.isInstalled"/></strong></td>
                <td>
                    <f:if condition="{extension.installed}==1">
                        <f:then>
                            <f:image src="EXT:website_toolbox/Resources/Public/Icons/correct.png" width="24" height="24"/>
                        </f:then>
                        <f:else>
                            <f:image src="EXT:website_toolbox/Resources/Public/Icons/remove.png" width="24" height="24"/>
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <f:if condition="{extension.constraints.depends}">
                <tr>
                    <td width="30%"><strong><f:translate key="sitepackage.modal.currentVersionDepends"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.depends}"  key='name' as="depends">
                            <f:if condition="{depends}">
                                <f:then>
                                    {name} => '{depends}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>
                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
            <f:if condition="{extension.constraints.conflicts}">
                <tr>
                    <td width="30%"><strong><f:translate key="sitepackage.modal.conflicts"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.conflicts}"  key='name' as="conflicts">
                            <f:if condition="{conflicts}">
                                <f:then>
                                    {name} => '{conflicts}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>

                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
            <f:if condition="{extension.constraints.suggests}">
                <tr>
                    <td width="30%"><strong><f:translate key="sitepackage.modal.suggests"/></strong></td>
                    <td>
                        <f:for each="{extension.constraints.suggests}"  key='name' as="suggests">
                            <f:if condition="{suggests}">
                                <f:then>
                                    {name} => '{suggests}'<br/>
                                </f:then>
                                <f:else>
                                    {name} =>'&nbsp;'<br/>
                                </f:else>

                            </f:if>
                        </f:for>
                    </td>
                </tr>
            </f:if>
            </tbody>
        </table>

</div>
</html>
