<html
    data-namespace-typo3-fluid="true"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="SitepackageDefault" />

<f:section name="Content">
    <f:flashMessages />

        <f:if condition="{rootPage} > 0">
        <f:then>

                <h1>{f:translate(key: 'sitepackage_information.title')}</h1>
            <div class="ns-table-wrap">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ext-report-wrapper">
                            <f:render partial="Sitepackage/SitepackageOverview" arguments="{sitepackageDetail:sitepackageDetail}"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ext-report-wrapper">
                            <f:render partial="Sitepackage/SysInformation" arguments="{sysDetail:sysDetail}"/>
                        </div>
                    </div>
                </div>
            </div>
            <h2><f:translate key="sitePackage.extensionReportTitle"/></h2>
            <f:render partial="Sitepackage/ExtTable" arguments="{_all}"/>
            <f:render partial="ModalAjax" />
        </f:then>
        <f:else>
            <f:if condition="{rootPages}">
                <h1>{f:translate(key: 'info.sitepackage.website')}</h1>
                <f:render arguments="{_all}" section="InfoBox"/>
            </f:if>
        </f:else>
    </f:if>


</f:section>

<f:section name="InfoBox">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <f:be.infobox state="1" title="{f:translate(key: 'noTemplate')}">
            <p>{f:translate(key: 'noRootTemplateSitePackage.description')}</p>

            <f:for each="{rootPages}" as="site">
                <f:if condition="{site.rootPage} >0 && {previewUrl} !=''">

                <f:be.link
                    class="btn btn-success me-2 mb-2"
                    route="WebsiteToolboxWebsitetools_WebsiteToolboxSitepackage"
                    parameters="{id:site.rootPage}"
                >
                    <f:format.printf arguments="{pageTitle: site.rootPageTitle}">{f:translate(key:
                        'buttonLink.selectPage')}
                    </f:format.printf>
                </f:be.link>
                </f:if>
            </f:for>
        </f:be.infobox>

    </div>
</f:section>
</html>
