<html
    data-namespace-typo3-fluid="true"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:asset.css identifier="datatables" href="EXT:website_toolbox/Resources/Public/Css/Datatables/datatables.min.css" />
<f:asset.script identifier="datatables">
    require([
    'jquery',
    'TYPO3/CMS/WebsiteToolbox/Datatables'
    ], function ($) {
    const mainDataTable = $('#typo3-extension-list').DataTable({
    searching: true,
    paging: true,
    pagingType: 'full_numbers',
    pageLength: 5,
    lengthMenu: [
    [5, 10, 20, -1],
    [5, 10, 20, '<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.lengthMenu.all" />'],
    ],
    info:true,
    columnDefs: [
    { orderable: false, targets: [3,4]}
    ],
    language: {
    "emptyTable":     "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.emptyTable" />",
    "info":           "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.info" />",
    "infoEmpty":      "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.infoEmpty" />",
    "infoFiltered":   "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.infoFiltered" />",
    "infoPostFix":    "",
    "search":         "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.search" />",
    "zeroRecords":    "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.zeroRecords" />",
    "lengthMenu": "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.lengthMenu" />",
    "paginate": {
    "first":      "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.first" />",
    "last":       "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.last" />",
    "next":       "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.next" />",
    "previous":   "<f:translate key="LLL:EXT:website_toolbox/Resources/Private/Language/Datatables.xlf:datatables.previous" />"
    },
    },
    });
    });
</f:asset.script>
<table id="typo3-extension-list" class="typo3-extension-list t3-table table table-striped table-hover">
    <thead>
        <tr class="head">
            <th class="table-ext-title"><f:translate key="sitePackage.extensionTitle"/></th>
            <th class="table-ext-key"><f:translate key="sitePackage.extensionKey"/></th>

            <th class="table-ext-version text-center"><f:translate key="sitePackage.currentExtensionVersion"/></th>
            <th class="table-ext-state text-center"><f:translate key="sitePackage.extensionState"/></th>
            <th class="table-ext-actions text-center"><f:translate key="sitePackage.reportActions"/></th>
        </tr>
    </thead>
    <tbody>
	    <f:for each="{extensionlist}" as="extension" iteration="iter">
	        <f:if condition="{extension.key} != 'website_toolbox'">
	            <tr>
	                <td>
	                    <f:format.crop maxCharacters="25" append="...">{extension.title}</f:format.crop>
	                </td>
	                <td>
	                    {extension.key}
	                </td>
		            <td class="text-center">{extension.version}</td>
		            <td class="text-center">
			           <span class="ter-ext-state ext-status-{extension.state}">{extension.state}</span>
		            </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-default ext-overview" data-toggle="modal" data-target="#modal-ajax" title="{f:translate(key: 'viewDetailTooltip',arguments: {extension: extension.key})}" data-uri="{f:uri.action(action: 'detail', arguments: {extKey: extension.key,targetVersion:sysDetail.targetVersion}, controller: 'Sitepackage')}" data-extensionKey="{extension.key}">
                            <core:icon identifier="actions-info" />
                        </button>
                        <f:comment>
                        <button type="button" class="btn btn-default">
                            <core:icon identifier="actions-system-extension-documentation" />
                        </button>
                        </f:comment>
                    </td>
	            </tr>
	        </f:if>
	    </f:for>
    </tbody>
</table>
</html>
