<table class="typo3-extension-list t3-table table table-striped table-hover" cellspacing="0">
	<thead>
		<tr class="x-grid3-header">
			<th colspan="2"><h2><f:translate key="sitePackage.overview.title"/></h2></th>
		</tr>
	</thead>
	<tbody>
		<tr class="bgColor6">
			<td width="50%"><f:translate key="sitePackage.description"/></td>
			<td><strong>{sitepackageDetail.description}</strong></td>
		</tr>
		<tr class="bgColor4">
			<td><f:translate key="sitePackage.version"/></td>
			<td><strong>{sitepackageDetail.version}</strong></td>
		</tr>
            <tr  class="bgColor6" >
                <td><f:translate key="sitePackage.author"/></td>
                <td><strong>{sitepackageDetail.author}</br>{sitepackageDetail.authorEmail}</strong></td>
            </tr>
        </tr>
        <tr  class="bgColor4" >
            <td><f:translate key="sitePackage.support"/></td>
            <td><strong>{sitepackageDetail.supportEmail}</br>
                <f:if condition="{sitepackageDetail.supportIssues}">
                    <f:link.external class="btn btn-warning" uri="{sitepackageDetail.supportIssues}" target="_blank"><f:translate key="sitePackage.supportLink"/></f:link.external>
                </f:if>
                </strong></td>
        </tr>
	</tbody>
</table>
