<table class="typo3-extension-list t3-table table table-striped table-hover" cellspacing="0">
	<thead>
		<tr class="x-grid3-header">
			<th colspan="2"><h2><f:translate key="sitePackage.sysInfo"/></h2></th>
		</tr>
	</thead>
	<tbody>
		<tr class="bgColor4">
			<td width="50%"><f:translate key="sitePackage.currentTypo3Version"/></td>
			<td><strong>{sysDetail.typo3version}</strong></td>
		</tr>
		<tr class="bgColor6">
			<td width="30%"><f:translate key="sitePackage.languages"/></td>
			<td><strong>{sysDetail.totalLang}</strong></td>
		</tr>
        <f:if condition="{sysDetail.rootPages}">
            <tr class="bgColor4">
                <td><f:translate key="sitePackage.rootPages"/></td>
                <td><strong>{sysDetail.rootPages}</strong></td>
            </tr>
        </f:if>
        <tr class="bgColor6">
            <td><f:translate key="sitePackage.totalPages"/></td>
            <td><strong>{sysDetail.totalPages}</strong></td>
        </tr>
		<tr class="bgColor4">
			<td><f:translate key="sitePackage.phpVersion"/></td>
			<td><strong>{sysDetail.phpversion}</strong></td>
		</tr>
        <f:if condition="{sysDetail.composerMode}">
            <tr class="bgColor6">
                <td><f:translate key="sitePackage.composerMode"/></td>
                <td><strong><f:translate key="sitePackage.composerMode.enabled"/></strong></td>
            </tr>
        </f:if>

	</tbody>
</table>
